body{
    background-color: black;
    color: white;
    overflow-y: hidden;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 98vh;
  }
  
  .top-row, .bottom-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    flex: 1; /* Allow rows to take up remaining vertical space */
  }
  
  .box, .big-box {
    flex-grow: 1; /* Make divs grow to fill available space */
    height: 100%; /* Expand divs to take up available height */
  }
  
  .box {
    width: 33.33%; /* Each div takes up one-third of the width */
    /* background-color: lightblue; */
    border: 1px solid white;
}

.big-box {
    width: 50%; /* Big div takes up two-thirds of the width */
    /* background-color: lightcoral; */
    border: 1px solid white;
  }
#linePlot{
  border: 1px solid white;
}

#pcpContainer,#compareContainer {
  flex-grow: 1; /* Make divs grow to fill available space */
  height: 48vh; /* Expand divs to take up available height */
}
.pcpContainer{
  width: 40%; /* Each div takes up one-third of the width */
    /* background-color: lightblue; */
    border: 1px solid white;
}
#compareContainer {
  width: 60%; /* Big div takes up two-thirds of the width */
  /* background-color: lightcoral; */
  border: 1px solid white;
}
  
#scatterPlotBox {
  width: 23%;
  border: 1px solid white;
}